In [19]:
# Cell 1: Setup and Imports

import pandas as pd
import numpy as np
import random
import string

# Setting random seed for reproducibility
np.random.seed(42)

In [20]:
# Cell 2: Parameters and Age Generation

# Define parameters
num_customers = 30000

# Define age percentiles
age_percentiles = [0.25, 0.5, 0.75, 1.0]
age_ranges = [18, 30, 45, 60, 70]
percentile_distribution = [0.3, 0.4, 0.2, 0.1]

# Generate ages based on percentiles
ages = []
for i in range(4):
    ages += list(np.random.randint(age_ranges[i], age_ranges[i+1], int(num_customers * percentile_distribution[i])))

# Ensure we have exactly num_customers by sampling if necessary
ages = np.random.choice(ages, num_customers, replace=False)

In [21]:
# Cell 3: Generate Genders, Locations, and Customer IDs

# Generate genders
genders = np.random.choice(['Male', 'Female'], num_customers, p=[0.5, 0.5])

# Generate locations
parishes_of_jamaica = ['Kingston', 'St. Andrew', 'St. Thomas', 'Portland', 'St. Mary', 'St. Ann', 'Trelawny', 'St. James', 'Hanover', 'Westmoreland', 'St. Elizabeth', 'Manchester', 'Clarendon', 'St. Catherine']
locations = np.random.choice(parishes_of_jamaica, num_customers)

# Function to generate CustomerID
def generate_customer_id():
    return 'sdv-id-' + ''.join(random.choices(string.ascii_letters + string.digits, k=6))

# Generate CustomerIDs
customer_ids = [generate_customer_id() for _ in range(num_customers)]

In [22]:
# Cell 4: Generate Income Levels, Education Levels, and Employment Status

# Generate income levels
income_levels = np.random.choice(['Low', 'Medium', 'High'], num_customers, p=[0.4, 0.4, 0.2])

# Generate education levels
education_levels = np.random.choice(['High School', 'College', 'Graduate'], num_customers, p=[0.4, 0.4, 0.2])

# Generate employment status
employment_status = np.random.choice(['Employed', 'Unemployed', 'Student', 'Retired'], num_customers, p=[0.5, 0.2, 0.2, 0.1])

In [23]:
# Cell 5: Assign Products Based on Age and Tenure

# Function to assign products based on age and tenure
def assign_products_by_age(age, tenure):
    products = []
    if age < age_ranges[1]:  # 0-25th percentile
        if np.random.rand() < 0.8:
            products.append('Remittances')
        if np.random.rand() < 0.9:
            products.append('PeerToPeer Sending')
        if np.random.rand() < 0.1:
            products.append('MotorInsurance')
        if np.random.rand() < 0.4:
            products.append('MarketPlace')
    elif age < age_ranges[2]:  # 25th-50th percentile
        if np.random.rand() < 0.9:
            products.append('Remittances')
        if np.random.rand() < 0.6:
            products.append('PeerToPeer Sending')
        if np.random.rand() < 0.7:
            products.append('MotorInsurance')
        if np.random.rand() < 0.7:
            products.append('MarketPlace')
    else:
        products = np.random.choice(product_types, np.random.randint(1, min(6, tenure + 1)), replace=False).tolist()
    return products

# Generate customer tenure
customer_tenure = np.random.randint(1, 7, num_customers)  # Tenure in years (1 to 6)

# Assign products to customers
product_types = ['PeerToPeer Sending', 'Remittances', 'BillPayments', 'MarketPlace', 'MotorInsurance']
customer_products = [assign_products_by_age(age, tenure) for age, tenure in zip(ages, customer_tenure)]

In [24]:
# Cell 6: Adjust Locations Based on Age Groups

# Adjust locations based on age groups
def adjust_locations_by_age(age):
    if age < age_ranges[2]:  # 0-50th percentile
        if np.random.rand() < 0.6:
            return np.random.choice(['Kingston', 'St. Andrew', 'St. Catherine'])
        else:
            return np.random.choice(parishes_of_jamaica)
    else:
        return np.random.choice(parishes_of_jamaica)

locations = [adjust_locations_by_age(age) for age in ages]

In [25]:
# Cell 7: Generate Transaction Data

# Function to generate transaction data based on age group, income level, and tenure
def generate_transaction_data_by_age_income(age, product_name, income_level, tenure):
    if age < age_ranges[1]:  # 0-25th percentile
        if product_name == 'Remittances':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(15, 33)
        elif product_name == 'PeerToPeer Sending':
            if income_level == 'Low':
                value = np.random.uniform(0, 5000)
            elif income_level == 'Medium':
                value = np.random.uniform(5000, 10000)
            else:  # High
                value = np.random.uniform(10000, 15000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MotorInsurance':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 10)
        elif product_name == 'MarketPlace':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        else:
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
    elif age < age_ranges[2]:  # 25th-50th percentile
        if product_name == 'Remittances':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(35, 61)
        elif product_name == 'PeerToPeer Sending':
            if income_level == 'Low':
                value = np.random.uniform(0, 10000)
            elif income_level == 'Medium':
                value = np.random.uniform(10000, 20000)
            else:  # High
                value = np.random.uniform(20000, 25000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MotorInsurance':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MarketPlace':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        else:
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
    elif age < age_ranges[3]:  # 50th-75th percentile
        if product_name == 'Remittances':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(15, 33)
        elif product_name == 'PeerToPeer Sending':
            if income_level == 'Low':
                value = np.random.uniform(0, 15000)
            elif income_level == 'Medium':
                value = np.random.uniform(15000, 20000)
            else:  # High
                value = np.random.uniform(20000, 25000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MotorInsurance':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 10)
        elif product_name == 'MarketPlace':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        else:
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
    else:  # 75th-100th percentile
        if product_name == 'Remittances':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(35, 61)
        elif product_name == 'PeerToPeer Sending':
            if income_level == 'Low':
                value = np.random.uniform(0, 15000)
            elif income_level == 'Medium':
                value = np.random.uniform(15000, 20000)
            else:  # High
                value = np.random.uniform(20000, 25000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MotorInsurance':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        elif product_name == 'MarketPlace':
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
        else:
            value = np.random.uniform(0, 2000)
            frequency = np.random.randint(0, 20)
    # Adjust values based on tenure
    value = value * (1 + 0.1 * (tenure - 1))
    return value, frequency

# Generate transaction values and frequencies based on age group, income level, and tenure
def generate_transaction_data(customers_ages, customers_products, product_name, income_levels, tenures):
    values = []
    frequencies = []
    for age, products, income, tenure in zip(customers_ages, customers_products, income_levels, tenures):
        if product_name in products:
            value, frequency = generate_transaction_data_by_age_income(age, product_name, income, tenure)
            values.append(value)
            frequencies.append(frequency)
        else:
            values.append(0)
            frequencies.append(0)
    return values, frequencies

# Generate data for each product type
peer_to_peer_values, peer_to_peer_freqs = generate_transaction_data(ages, customer_products, 'PeerToPeer Sending', income_levels, customer_tenure)
remittances_values, remittances_freqs = generate_transaction_data(ages, customer_products, 'Remittances', income_levels, customer_tenure)
bill_payments_values, bill_payments_freqs = generate_transaction_data(ages, customer_products, 'BillPayments', income_levels, customer_tenure)
marketplace_values, marketplace_freqs = generate_transaction_data(ages, customer_products, 'MarketPlace', income_levels, customer_tenure)

In [26]:
# Cell 8: Adjust Linked Bank Account Values

# Adjust linked bank account values
def adjust_linked_bank_values(ages, income_levels, tenures):
    values = []
    for age, income, tenure in zip(ages, income_levels, tenures):
        if age_ranges[1] <= age < age_ranges[2]:  # 25th-50th percentile
            if income == 'High' and tenure >= 4:
                value = np.random.uniform(200000, 300000)
            else:
                value = np.random.uniform(20000, 100000)
        else:
            value = np.random.uniform(20000, 50000)
        values.append(value)
    return values

linked_bank_values = adjust_linked_bank_values(ages, income_levels, customer_tenure)

In [27]:
# Cell 9: Generate Activity Levels

# Generate activity level based on employment status
def generate_activity_level(employment_status):
    if employment_status == 'Employed':
        return np.random.randint(10, 30)
    elif employment_status == 'Student':
        return np.random.randint(15, 25)
    elif employment_status == 'Unemployed':
        return np.random.randint(5, 15)
    else:  # Retired
        return np.random.randint(5, 20)

activity_level = [generate_activity_level(status) for status in employment_status]

In [31]:
# Cell 10: Create and Save the DataFrame

# Create DataFrame
data = {
    'CustomerID': customer_ids,
    'Age': ages,
    'Gender': genders,
    'Location': locations,
    'LinkedBankAccountMonthlyValue': linked_bank_values,
    'ProductType': customer_products,
    'PeerToPeer_MonthlyTransValue': peer_to_peer_values,
    'Remittances_MonthlyTransValue': remittances_values,
    'BillPayments_MonthlyTransValue': bill_payments_values,
    'RemittancesFreq_Monthly': remittances_freqs,
    'BillPaymentsFreq_Monthly': bill_payments_freqs,
    'MarketPlaceFreq_Monthly': marketplace_freqs,
    'PeerToPeerFreq_Monthly': peer_to_peer_freqs,
    'IncomeLevel': income_levels,
    'EducationLevel': education_levels,
    'EmploymentStatus': employment_status,
    'CustomerTenure': customer_tenure,
    'ActivityLevel': activity_level
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('/content/Updated_GKONE_Synthetic_Dataset.csv', index=False)

# Display the DataFrame
df.head(50)

,CustomerID,Age,Gender,Location,LinkedBankAccountMonthlyValue,ProductType,PeerToPeer_MonthlyTransValue,Remittances_MonthlyTransValue,BillPayments_MonthlyTransValue,RemittancesFreq_Monthly,BillPaymentsFreq_Monthly,MarketPlaceFreq_Monthly,PeerToPeerFreq_Monthly,IncomeLevel,EducationLevel,EmploymentStatus,CustomerTenure,ActivityLevel
0,sdv-id-IN7ITT,25,Female,Trelawny,46601.668557,"[Remittances, PeerToPeer Sending, MarketPlace]",5276.880318,1238.053843,0.000000,31,0,9,4,Low,High School,Employed,4,17
1,sdv-id-4hnCCT,43,Female,St. Catherine,64044.610963,"[Remittances, PeerToPeer Sending, MarketPlace]",28503.972689,2965.286891,0.000000,56,0,7,7,Medium,Graduate,Student,6,24
2,sdv-id-iOIToj,42,Female,St. Andrew,93085.837759,"[Remittances, PeerToPeer Sending, MotorInsurance]",11195.330762,1468.833594,0.000000,41,0,0,5,Low,College,Employed,5,14
3,sdv-id-8TvnUL,69,Male,Kingston,22944.196442,[PeerToPeer Sending],89.461759,0.000000,0.000000,0,0,0,2,Low,Graduate,Unemployed,1,5
4,sdv-id-QijYGa,27,Female,St. Andrew,47014.788265,[PeerToPeer Sending],7674.463699,0.000000,0.000000,0,0,0,7,Medium,College,Employed,1,21
5,sdv-id-PpmeEb,44,Male,Kingston,56340.738768,"[Remittances, PeerToPeer Sending, MarketPlace]",5526.267647,1461.346428,0.000000,56,0,19,15,Low,College,Employed,1,19
6,sdv-id-qnYvws,56,Female,St. Elizabeth,20663.810887,[Remittances],0.000000,1852.559755,0.000000,28,0,0,0,Medium,High School,Unemployed,1,5
7,sdv-id-EsLm1l,31,Male,Kingston,23845.991525,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1602.324331,0.000000,50,0,10,0,High,College,Employed,3,22
8,sdv-id-BuRnMD,42,Female,St. Catherine,292507.231778,"[Remittances, PeerToPeer Sending, MotorInsuran...",30982.728497,871.447039,0.000000,57,0,14,7,High,High School,Unemployed,4,13
9,sdv-id-b3VsIs,19,Male,St. Ann,36838.764974,"[Remittances, PeerToPeer Sending]",6871.776559,1891.206707,0.000000,21,0,0,12,Medium,College,Retired,1,15
10,sdv-id-ziWXT0,33,Female,Clarendon,39139.891882,[Remittances],0.000000,1989.090687,0.000000,51,0,0,0,Low,High School,Retired,5,8
11,sdv-id-3ZtxrL,50,Male,St. Thomas,39528.928712,[Remittances],0.000000,1972.292266,0.000000,19,0,0,0,Medium,Graduate,Student,1,18
12,sdv-id-KLrPCC,39,Male,Trelawny,25392.031064,"[Remittances, MotorInsurance, MarketPlace]",0.000000,853.773225,0.000000,42,0,1,0,Low,High School,Employed,1,22
13,sdv-id-FTH5Tf,26,Female,Kingston,49315.393321,"[Remittances, PeerToPeer Sending]",20582.505198,999.734750,0.000000,16,0,0,17,High,High School,Employed,6,27
14,sdv-id-g9BlmW,29,Male,St. Mary,44546.613230,"[PeerToPeer Sending, MarketPlace]",14060.532913,0.000000,0.000000,0,0,19,3,High,Graduate,Retired,1,12
15,sdv-id-6sCRar,22,Male,Manchester,33886.236183,"[Remittances, PeerToPeer Sending]",16010.221201,228.402248,0.000000,29,0,0,17,High,High School,Employed,3,23
16,sdv-id-a9UD25,37,Male,St. Catherine,55293.894104,"[Remittances, PeerToPeer Sending, MotorInsuran...",12293.461914,750.755995,0.000000,43,0,17,16,Medium,College,Employed,2,26
17,sdv-id-V24gWr,24,Female,Clarendon,30465.726446,"[Remittances, PeerToPeer Sending]",10990.037031,2069.650889,0.000000,28,0,0,2,Medium,Graduate,Student,6,19
18,sdv-id-x5tVUb,21,Male,St. Catherine,44879.011092,"[PeerToPeer Sending, MarketPlace]",8889.081390,0.000000,0.000000,0,0,17,1,Medium,High School,Employed,3,14
19,sdv-id-yREGkM,40,Male,St. Andrew,29458.412124,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1558.541869,0.000000,50,0,3,0,Low,High School,Retired,5,13
20,sdv-id-vgt7oT,35,Female,St. Catherine,77210.987893,"[Remittances, PeerToPeer Sending, MotorInsuran...",23012.204580,194.338338,0.000000,35,0,12,11,High,High School,Employed,1,17
21,sdv-id-XnNjd0,47,Male,Portland,24595.394263,[BillPayments],0.000000,0.000000,202.016395,0,1,0,0,Low,High School,Employed,6,18
22,sdv-id-dcDz2w,22,Male,Kingston,34983.162739,"[Remittances, PeerToPeer Sending]",20820.284949,746.620095,0.000000,15,0,0,5,High,College,Unemployed,6,8
23,sdv-id-9xZ0Xt,25,Female,Trelawny,32245.291405,[PeerToPeer Sending],15961.064635,0.000000,0.000000,0,0,0,18,High,Graduate,Unemployed,2,7
24,sdv-id-rZNM0s,18,Male,St. Catherine,49745.056989,"[Remittances, PeerToPeer Sending]",4522.415804,242.000516,0.000000,19,0,0,14,Low,College,Unemployed,4,8
25,sdv-id-LFIseN,39,Female,Kingston,53419.923578,"[Remittances, PeerToPeer Sending, MarketPlace]",19482.666442,917.147107,0.000000,39,0,18,13,Medium,Graduate,Employed,4,23
26,sdv-id-dVlpRb,23,Female,Kingston,49589.897620,"[Remittances, PeerToPeer Sending]",22255.140831,36.118986,0.000000,17,0,0,14,High,High School,Student,6,22
27,sdv-id-fJBQGx,20,Female,St. Andrew,33223.965235,"[PeerToPeer Sending, MarketPlace]",10864.457441,0.000000,0.000000,0,0,5,11,High,Graduate,Employed,1,28
28,sdv-id-WTHB5i,34,Female,St. Andrew,247157.858904,[Remittances],0.000000,258.448045,0.000000,46,0,0,0,High,College,Employed,6,26
29,sdv-id-wH4eNI,31,Male,St. Andrew,223141.946414,"[Remittances, PeerToPeer Sending, MarketPlace]",29160.194083,79.236263,0.000000,52,0,19,13,High,Graduate,Unemployed,5,9
30,sdv-id-m9F7cg,30,Female,St. Ann,87897.660168,[MarketPlace],0.000000,0.000000,0.000000,0,0,2,0,High,Graduate,Employed,1,22
31,sdv-id-DUAZue,18,Female,Kingston,40255.381143,"[Remittances, PeerToPeer Sending, MarketPlace]",18223.610354,1565.531986,0.000000,25,0,3,16,High,Graduate,Unemployed,4,8
32,sdv-id-O2FwfI,28,Male,Kingston,49880.008884,"[Remittances, PeerToPeer Sending, MarketPlace]",10873.237182,1582.383456,0.000000,23,0,8,8,Medium,High School,Employed,4,20
33,sdv-id-neohMW,43,Male,St. James,62517.232627,"[Remittances, PeerToPeer Sending, MotorInsurance]",6549.052211,284.562984,0.000000,60,0,0,3,Low,College,Student,3,18
34,sdv-id-ZSwEAT,28,Female,St. Catherine,32236.867861,"[Remittances, PeerToPeer Sending, MarketPlace]",12345.176009,1768.706970,0.000000,18,0,2,2,Medium,High School,Employed,4,19
35,sdv-id-ZSnQdK,53,Male,Hanover,34394.995123,[PeerToPeer Sending],6016.636535,0.000000,0.000000,0,0,0,17,Low,High School,Employed,2,10
36,sdv-id-1D0Nt3,31,Male,St. Catherine,49122.436387,"[Remittances, PeerToPeer Sending, MotorInsuran...",27370.629940,2002.220715,0.000000,36,0,7,3,Medium,College,Employed,6,22
37,sdv-id-IT56zH,49,Female,St. Andrew,45518.885848,"[BillPayments, MarketPlace]",0.000000,0.000000,1954.990602,0,3,19,0,Medium,Graduate,Unemployed,5,11
38,sdv-id-nJT42b,46,Female,Westmoreland,32466.273207,"[MotorInsurance, PeerToPeer Sending]",29592.904563,0.000000,0.000000,0,0,0,13,High,High School,Employed,4,20
39,sdv-id-JPvtoe,46,Male,St. Elizabeth,22129.284912,"[Remittances, MarketPlace, MotorInsurance]",0.000000,691.885969,0.000000,28,0,5,0,Low,Graduate,Student,4,22
40,sdv-id-8C7k53,63,Male,St. Andrew,36438.882689,"[PeerToPeer Sending, BillPayments, Remittances]",20407.186299,524.646482,1421.459242,56,15,0,1,Medium,Graduate,Unemployed,3,8
41,sdv-id-yB32gl,42,Male,St. Andrew,299209.155971,"[Remittances, PeerToPeer Sending, MarketPlace]",36745.945636,693.815715,0.000000,54,0,16,1,High,High School,Employed,6,27
42,sdv-id-DtwUT2,29,Female,St. Catherine,46960.041920,"[Remittances, MarketPlace]",0.000000,785.910365,0.000000,26,0,2,0,Medium,High School,Employed,4,19
43,sdv-id-UOziz6,66,Female,Manchester,35525.310789,"[Remittances, PeerToPeer Sending]",21051.879082,471.377794,0.000000,56,0,0,8,Medium,High School,Student,3,20
44,sdv-id-OvM6Xv,40,Male,Kingston,49108.990559,"[PeerToPeer Sending, MotorInsurance, MarketPlace]",18443.353078,0.000000,0.000000,0,0,4,14,Medium,College,Employed,3,25
45,sdv-id-tOJWO9,44,Female,Kingston,54511.806273,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1592.577566,0.000000,41,0,1,0,Low,High School,Unemployed,3,8
46,sdv-id-9Q3X6G,37,Male,Kingston,69964.676820,"[Remittances, PeerToPeer Sending, MotorInsuran...",12540.331145,1685.460433,0.000000,49,0,6,15,Low,High School,Unemployed,6,11
47,sdv-id-F8Bydu,47,Female,Westmoreland,30760.205636,"[BillPayments, MarketPlace, MotorInsurance, Re...",23286.998868,552.665627,1955.666387,18,8,17,9,Medium,High School,Student,6,15
48,sdv-id-1jKlvV,50,Male,St. Ann,46462.880540,"[MarketPlace, BillPayments, Remittances, Motor...",0.000000,629.946856,251.552927,17,1,3,0,Low,College,Employed,6,17
49,sdv-id-0MFDpo,30,Female,Clarendon,28446.500435,"[Remittances, MotorInsurance, MarketPlace]",0.000000,2914.678962,0.000000,48,0,6,0,Low,Graduate,Student,6,16

In [29]:
# Display the DataFrame
df.head(50)

,CustomerID,Age,Gender,Location,LinkedBankAccountMonthlyValue,ProductType,PeerToPeer_MonthlyTransValue,Remittances_MonthlyTransValue,BillPayments_MonthlyTransValue,RemittancesFreq_Monthly,BillPaymentsFreq_Monthly,MarketPlaceFreq_Monthly,PeerToPeerFreq_Monthly,IncomeLevel,EducationLevel,EmploymentStatus,CustomerTenure,ActivityLevel
0,sdv-id-IN7ITT,25,Female,Trelawny,46601.668557,"[Remittances, PeerToPeer Sending, MarketPlace]",5276.880318,1238.053843,0.000000,31,0,9,4,Low,High School,Employed,4,17
1,sdv-id-4hnCCT,43,Female,St. Catherine,64044.610963,"[Remittances, PeerToPeer Sending, MarketPlace]",28503.972689,2965.286891,0.000000,56,0,7,7,Medium,Graduate,Student,6,24
2,sdv-id-iOIToj,42,Female,St. Andrew,93085.837759,"[Remittances, PeerToPeer Sending, MotorInsurance]",11195.330762,1468.833594,0.000000,41,0,0,5,Low,College,Employed,5,14
3,sdv-id-8TvnUL,69,Male,Kingston,22944.196442,[PeerToPeer Sending],89.461759,0.000000,0.000000,0,0,0,2,Low,Graduate,Unemployed,1,5
4,sdv-id-QijYGa,27,Female,St. Andrew,47014.788265,[PeerToPeer Sending],7674.463699,0.000000,0.000000,0,0,0,7,Medium,College,Employed,1,21
5,sdv-id-PpmeEb,44,Male,Kingston,56340.738768,"[Remittances, PeerToPeer Sending, MarketPlace]",5526.267647,1461.346428,0.000000,56,0,19,15,Low,College,Employed,1,19
6,sdv-id-qnYvws,56,Female,St. Elizabeth,20663.810887,[Remittances],0.000000,1852.559755,0.000000,28,0,0,0,Medium,High School,Unemployed,1,5
7,sdv-id-EsLm1l,31,Male,Kingston,23845.991525,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1602.324331,0.000000,50,0,10,0,High,College,Employed,3,22
8,sdv-id-BuRnMD,42,Female,St. Catherine,292507.231778,"[Remittances, PeerToPeer Sending, MotorInsuran...",30982.728497,871.447039,0.000000,57,0,14,7,High,High School,Unemployed,4,13
9,sdv-id-b3VsIs,19,Male,St. Ann,36838.764974,"[Remittances, PeerToPeer Sending]",6871.776559,1891.206707,0.000000,21,0,0,12,Medium,College,Retired,1,15
10,sdv-id-ziWXT0,33,Female,Clarendon,39139.891882,[Remittances],0.000000,1989.090687,0.000000,51,0,0,0,Low,High School,Retired,5,8
11,sdv-id-3ZtxrL,50,Male,St. Thomas,39528.928712,[Remittances],0.000000,1972.292266,0.000000,19,0,0,0,Medium,Graduate,Student,1,18
12,sdv-id-KLrPCC,39,Male,Trelawny,25392.031064,"[Remittances, MotorInsurance, MarketPlace]",0.000000,853.773225,0.000000,42,0,1,0,Low,High School,Employed,1,22
13,sdv-id-FTH5Tf,26,Female,Kingston,49315.393321,"[Remittances, PeerToPeer Sending]",20582.505198,999.734750,0.000000,16,0,0,17,High,High School,Employed,6,27
14,sdv-id-g9BlmW,29,Male,St. Mary,44546.613230,"[PeerToPeer Sending, MarketPlace]",14060.532913,0.000000,0.000000,0,0,19,3,High,Graduate,Retired,1,12
15,sdv-id-6sCRar,22,Male,Manchester,33886.236183,"[Remittances, PeerToPeer Sending]",16010.221201,228.402248,0.000000,29,0,0,17,High,High School,Employed,3,23
16,sdv-id-a9UD25,37,Male,St. Catherine,55293.894104,"[Remittances, PeerToPeer Sending, MotorInsuran...",12293.461914,750.755995,0.000000,43,0,17,16,Medium,College,Employed,2,26
17,sdv-id-V24gWr,24,Female,Clarendon,30465.726446,"[Remittances, PeerToPeer Sending]",10990.037031,2069.650889,0.000000,28,0,0,2,Medium,Graduate,Student,6,19
18,sdv-id-x5tVUb,21,Male,St. Catherine,44879.011092,"[PeerToPeer Sending, MarketPlace]",8889.081390,0.000000,0.000000,0,0,17,1,Medium,High School,Employed,3,14
19,sdv-id-yREGkM,40,Male,St. Andrew,29458.412124,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1558.541869,0.000000,50,0,3,0,Low,High School,Retired,5,13
20,sdv-id-vgt7oT,35,Female,St. Catherine,77210.987893,"[Remittances, PeerToPeer Sending, MotorInsuran...",23012.204580,194.338338,0.000000,35,0,12,11,High,High School,Employed,1,17
21,sdv-id-XnNjd0,47,Male,Portland,24595.394263,[BillPayments],0.000000,0.000000,202.016395,0,1,0,0,Low,High School,Employed,6,18
22,sdv-id-dcDz2w,22,Male,Kingston,34983.162739,"[Remittances, PeerToPeer Sending]",20820.284949,746.620095,0.000000,15,0,0,5,High,College,Unemployed,6,8
23,sdv-id-9xZ0Xt,25,Female,Trelawny,32245.291405,[PeerToPeer Sending],15961.064635,0.000000,0.000000,0,0,0,18,High,Graduate,Unemployed,2,7
24,sdv-id-rZNM0s,18,Male,St. Catherine,49745.056989,"[Remittances, PeerToPeer Sending]",4522.415804,242.000516,0.000000,19,0,0,14,Low,College,Unemployed,4,8
25,sdv-id-LFIseN,39,Female,Kingston,53419.923578,"[Remittances, PeerToPeer Sending, MarketPlace]",19482.666442,917.147107,0.000000,39,0,18,13,Medium,Graduate,Employed,4,23
26,sdv-id-dVlpRb,23,Female,Kingston,49589.897620,"[Remittances, PeerToPeer Sending]",22255.140831,36.118986,0.000000,17,0,0,14,High,High School,Student,6,22
27,sdv-id-fJBQGx,20,Female,St. Andrew,33223.965235,"[PeerToPeer Sending, MarketPlace]",10864.457441,0.000000,0.000000,0,0,5,11,High,Graduate,Employed,1,28
28,sdv-id-WTHB5i,34,Female,St. Andrew,247157.858904,[Remittances],0.000000,258.448045,0.000000,46,0,0,0,High,College,Employed,6,26
29,sdv-id-wH4eNI,31,Male,St. Andrew,223141.946414,"[Remittances, PeerToPeer Sending, MarketPlace]",29160.194083,79.236263,0.000000,52,0,19,13,High,Graduate,Unemployed,5,9
30,sdv-id-m9F7cg,30,Female,St. Ann,87897.660168,[MarketPlace],0.000000,0.000000,0.000000,0,0,2,0,High,Graduate,Employed,1,22
31,sdv-id-DUAZue,18,Female,Kingston,40255.381143,"[Remittances, PeerToPeer Sending, MarketPlace]",18223.610354,1565.531986,0.000000,25,0,3,16,High,Graduate,Unemployed,4,8
32,sdv-id-O2FwfI,28,Male,Kingston,49880.008884,"[Remittances, PeerToPeer Sending, MarketPlace]",10873.237182,1582.383456,0.000000,23,0,8,8,Medium,High School,Employed,4,20
33,sdv-id-neohMW,43,Male,St. James,62517.232627,"[Remittances, PeerToPeer Sending, MotorInsurance]",6549.052211,284.562984,0.000000,60,0,0,3,Low,College,Student,3,18
34,sdv-id-ZSwEAT,28,Female,St. Catherine,32236.867861,"[Remittances, PeerToPeer Sending, MarketPlace]",12345.176009,1768.706970,0.000000,18,0,2,2,Medium,High School,Employed,4,19
35,sdv-id-ZSnQdK,53,Male,Hanover,34394.995123,[PeerToPeer Sending],6016.636535,0.000000,0.000000,0,0,0,17,Low,High School,Employed,2,10
36,sdv-id-1D0Nt3,31,Male,St. Catherine,49122.436387,"[Remittances, PeerToPeer Sending, MotorInsuran...",27370.629940,2002.220715,0.000000,36,0,7,3,Medium,College,Employed,6,22
37,sdv-id-IT56zH,49,Female,St. Andrew,45518.885848,"[BillPayments, MarketPlace]",0.000000,0.000000,1954.990602,0,3,19,0,Medium,Graduate,Unemployed,5,11
38,sdv-id-nJT42b,46,Female,Westmoreland,32466.273207,"[MotorInsurance, PeerToPeer Sending]",29592.904563,0.000000,0.000000,0,0,0,13,High,High School,Employed,4,20
39,sdv-id-JPvtoe,46,Male,St. Elizabeth,22129.284912,"[Remittances, MarketPlace, MotorInsurance]",0.000000,691.885969,0.000000,28,0,5,0,Low,Graduate,Student,4,22
40,sdv-id-8C7k53,63,Male,St. Andrew,36438.882689,"[PeerToPeer Sending, BillPayments, Remittances]",20407.186299,524.646482,1421.459242,56,15,0,1,Medium,Graduate,Unemployed,3,8
41,sdv-id-yB32gl,42,Male,St. Andrew,299209.155971,"[Remittances, PeerToPeer Sending, MarketPlace]",36745.945636,693.815715,0.000000,54,0,16,1,High,High School,Employed,6,27
42,sdv-id-DtwUT2,29,Female,St. Catherine,46960.041920,"[Remittances, MarketPlace]",0.000000,785.910365,0.000000,26,0,2,0,Medium,High School,Employed,4,19
43,sdv-id-UOziz6,66,Female,Manchester,35525.310789,"[Remittances, PeerToPeer Sending]",21051.879082,471.377794,0.000000,56,0,0,8,Medium,High School,Student,3,20
44,sdv-id-OvM6Xv,40,Male,Kingston,49108.990559,"[PeerToPeer Sending, MotorInsurance, MarketPlace]",18443.353078,0.000000,0.000000,0,0,4,14,Medium,College,Employed,3,25
45,sdv-id-tOJWO9,44,Female,Kingston,54511.806273,"[Remittances, MotorInsurance, MarketPlace]",0.000000,1592.577566,0.000000,41,0,1,0,Low,High School,Unemployed,3,8
46,sdv-id-9Q3X6G,37,Male,Kingston,69964.676820,"[Remittances, PeerToPeer Sending, MotorInsuran...",12540.331145,1685.460433,0.000000,49,0,6,15,Low,High School,Unemployed,6,11
47,sdv-id-F8Bydu,47,Female,Westmoreland,30760.205636,"[BillPayments, MarketPlace, MotorInsurance, Re...",23286.998868,552.665627,1955.666387,18,8,17,9,Medium,High School,Student,6,15
48,sdv-id-1jKlvV,50,Male,St. Ann,46462.880540,"[MarketPlace, BillPayments, Remittances, Motor...",0.000000,629.946856,251.552927,17,1,3,0,Low,College,Employed,6,17
49,sdv-id-0MFDpo,30,Female,Clarendon,28446.500435,"[Remittances, MotorInsurance, MarketPlace]",0.000000,2914.678962,0.000000,48,0,6,0,Low,Graduate,Student,6,16